body {
  margin: 0px;
  overflow: hidden;
}

circle {
  fill: teal;
  opacity: 0.5;
}

text {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.tick text {
  font-size: 2.7em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label{
  font-size: 4em;
  fill: #f2f3f4;
}

.title{
  font-size: 3em;
  fill: rgb(16, 12, 8);
}